:root {
    --body-bg: #ffffff ;
    --card: #F875AA ;
    --text: #ffffff ;
    --popup: #ffffff ;
}
@media (prefers-color-scheme: dark) {
   :root {
       --body-bg: ;
   }
}
body{
  background: var(--body-bg) ;
}

/* Smooth */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  transition: all .25s ease;
}

/* Sublevel */
.sublevel{
  height:8px;
  border-radius:20px;
  background:#ddd;
  flex-grow:1;
}
.sublevel.active{
  background:linear-gradient(90deg,#4F46E5,#06B6D4);
}

/* Question */
.question-card{
  min-height:130px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:18px;
  font-weight:600;
  background: var(--card) ;
  color: var(--text) ;
  box-shadow:0 6px 25px rgba(0,0,0,.06);
  border-radius: 10px ;
}

/* Inputs */
.input-box{
  width:50px;
  height:60px;
  font-size:22px;
  text-align:center;
  border-radius:12px;
  background:white;
  outline:none !important;
}

/* Remove default */
.input-box:focus{
  outline:none !important;
  border:2px solid #4caf50;
}

/* Buttons */
.nav-btn{
  width:45px;
  height:45px;
  border-radius:50%;
  background:white;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
}

/* Retention */
.nav-btn:active{
  transform:scale(.9);
  border:none ;
  outline: none ;
}

/* Overlay */
.overlay-popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  animation:fade .3s;
}

.popup-box{
  background: var(--popup) ;
  padding:25px;
  border-radius:16px;
  text-align: center ;
  width:85%;
  animation:scale .3s;
}

@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}
@keyframes scale{
  from{transform:scale(.8)}
  to{transform:scale(1)}
}


