:root {
    body-bg: #ffffff ;
}
body{
  background: var(--body-bg) ;
}

/* Smooth */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  user-select: none ;
  transition: all .25s ease;
}

/* Sublevel */
.sublevel{
  height:8px;
  border-radius:20px;
  background:#ddd;
  flex-grow:1;
}
.sublevel.active{
  background:#4caf50;
}

/* Question */
.question-card{
  min-height:150px;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  font-size:18px;
  font-weight:600;
}

/* Inputs */
.input-box{
  width:48px;
  height:60px;
  font-size:22px;
  text-align:center;
}

/* Buttons */
.nav-btn{
  width:45px;
  height:45px;
  border-radius:50%;
  background:white;
  box-shadow:0 4px 12px rgba(0,0,0,.1);
}

/* Retention */
.nav-btn:active{
  transform:scale(.9);
}
.input-box:focus{
  border:2px solid #4caf50;
}

/* Overlay */
.overlay-popup{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.4);
  display:flex;
  justify-content:center;
  align-items:center;
  animation:fade .3s;
}

.popup-box{
  background:#fff;
  padding:25px;
  border-radius:16px;
  width:85%;
  animation:scale .3s;
}

@keyframes fade{
  from{opacity:0}
  to{opacity:1}
}
@keyframes scale{
  from{transform:scale(.8)}
  to{transform:scale(1)}
}
